.App {
  background-color: #fff0f5;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
@media all and (max-width: 300px) {
  body {
    background-color: white;
  }
}
/* style nav bar start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: black;
  color: white;
  border-radius: 5px;
}
@media all and (max-width: 480px) {
  nav {
    min-height: 10vh;
    background-color: black;
    border-radius: 4px;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
@media all and (max-width: 480px) {
  .nav-links {
    width: 50%;
  }
}
.nav-links li {
  color: whitesmoke;
  font-size: 15px;
  text-decoration: none;
}
@media all and (max-width: 480px) {
  .nav-links li {
    font-size: 10px;
    justify-content: space-between;
  }
}

.nav-links :hover {
  color: #d648d7;
  cursor: pointer;
}
.header {
  font-size: 30px;
  font-style: italic;
  cursor: pointer;

  color: #d648d7;
}
@media all and (max-width: 480px) {
  .header {
    font-size: 18px;
  }
}
/* make the music list and form side by side */
.musicpage {
  background-image: url("../public/data/images/wallpaperflare.com_wallpaper.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}

.audioCard {
  height: 100px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgb(74, 12, 109);
  display: inline-flex;
  justify-content: space-evenly;
  margin: 2px;
  padding: 0px 0px 20px 0px;
}

.audioCard img {
  border-radius: 10px;
}
@media all and (max-width: 480px) {
  .audioCard {
    background-image: url("../public/data/images/wallpaperflare.com_wallpaper.jpg");
    padding: 15px 0px 5px 0px;
  }
}
@media all and (max-width: 480px) {
  .audioCard img {
    height: 70px;
    width: 70px;
    border-radius: 4px;
  }
}

.audioCard audio {
  width: 50%;
  position: relative;
  top: 20px;
  background-color: rgba(0, 0, 0, 0);
}
@media all and (max-width: 480px) {
  .audioCard audio {
    height: 25%;
    width: 55%;
    padding: 0px;
  }
}
.audioCard h6 {
  width: 10%;
  font-size: 13px;
  line-height: 18px;
  color: white;
}
@media all and (max-width: 480px) {
  .audioCard h6 {
    position: relative;
    width: 10%;
    line-height: px;
    top: -6px;
    overflow-wrap: break-word;
    overflow-y: hidden;
  }
}
input {
  margin: auto;
  width: 32%;
  float: right;
  position: relative;
  right: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(89, 9, 89, 0.552);
  color: fuchsia;
}
.musiclist h2 {
  text-align: center;
  color: #d748d7b9;
  padding: 0px;
}

/* add background image to home div */
.home {
  background-image: url("../public/data/images/home.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}
@media all and (max-width: 480px) {
  .home {
    background-size: 125% 105%;
  }
}
.home h1 {
  color: #c904c9db;
  font-style: italic;
  position: relative;
  top: 100px;
}
/* add style to about */
.about {
  background-image: url("../public/data/images/about.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}
@media all and (max-width: 480px) {
  .home {
    background-size: 125% 105%;
  }
}
.about:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
/* start style on footer section */

.footer {
  min-height: 7vh;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  color: #c904c9db;
  text-align: center;
}
