* {
  font-family: "Abyssinica SIL", serif;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
}

code {
  font-family: sans-serif;
}
.musicpage {
  font-weight: bold;
  font-size: 30px;
  color: red;
}
